<h1>Hello from Rails!</h1>
<h2>This is the first homework for advanced software engineering</h2>
<p>
This is a link to
<a href="http://www.baidu.com">BAIDU</a>
</br>
</p>
<p>
the date and time now is: <%= Time.now %>
</p>
<p>
Please click
<%= link_to "this", say_goodbye_path %>
to jump to another page
</p>
